#r1 {
    grid-row: 1;
    grid-column: span 2;
    background-color: darkslateblue;
}

#r2 {
    grid-row: 2;
    grid-column: span 2;
    background-color: #111111;
}

#r3 {
    grid-row: 3;
    grid-column: span 2;
    background-color: #222222;
}

#r4 {
    grid-row: 4;
    grid-column: span 2;
    background-color: #111111;
}

#r5 {
    grid-row: 5;
    grid-column: span 2;
    background-color: #222222;
}