html,body {
    padding: 0;
    margin: 0;
    height: 100vh;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}

.container {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: 5% 35% 25% 35% 10%;
    height: 100%;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.content {
    margin: 10px;
    width: 100%;
    text-align: center;
    font-size: x-large;
    color: lightgray;
    font-family: sans-serif;
}

.scale {
    height: 100%;
    width: 100%;
    object-fit: scale-down;
}