html,body {
    padding: 0;
    margin: 0;
    height: 100vh;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    margin: 10px;
    width: 90%;
    text-align: center;
    font-size: larger;
    color: lightgray;
    font-family: sans-serif;
}

.scale {
    height: 100%;
    width: 100%;
    object-fit: scale-down;
}

a {
    text-decoration: none;
    color: dodgerblue;
}